astroid==1.5.2
boto3==1.4.7
botocore==1.7.46
Django==1.11.7
django-mako-plus==4.3.3
docutils==0.14
isort==4.2.5
jmespath==0.9.3
lazy-object-proxy==1.2.2
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
psycopg2==2.7.3.2
pylint==1.7.1
pylint-django==0.7.2
pylint-plugin-utils==0.2.6
python-dateutil==2.6.1
pytz==2017.3
s3transfer==0.1.11
six==1.11.0
wrapt==1.10.10
